*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Minecraftia", sans-serif;
}

img {
  object-fit: contain;
  width: 100%;
}

#start-menu {
  width: 100%;
  height: 100vh;
  background: url(../img/background.jpg) no-repeat center center/cover;
  position: relative;
}

.start--logo {
  background: url(../img/logov2.png) no-repeat center center/contain;
  width: 100%;
  max-width: 80vw;
  height: 30vh;
  margin: 0 auto;
  padding-top: 0;
}

.menu--btn {
  margin: 0 auto 30px auto;
  height: 36px;
  width: 400px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  background: #999 url("../img/btnbackground.png") center / cover;
  image-rendering: pixelated;
  border: 2px solid #000;
  text-align: center;
}

.menu--btn a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 0.3em;
  color: #ddd;
  text-shadow: 2px 2px #000a;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #fff7;
}
.menu--btn:hover a {
  background-color: rgba(100, 100, 255, 0.45);
  text-shadow: 2px 2px #202013cc;
  color: #ffffa0;
}

.menu--btn:active {
  box-shadow: inset -2px -4px #0004, inset 2px 2px #fff5;
}

.toolbar {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  position: absolute;
  bottom: 1px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 300px;
  height: 70px;
  background: url(../img/toolbarhorizontal.png) no-repeat center center/cover;
}

.tool {
  cursor: grab;
  position: absolute;
  top: 7px;
  width: 55px;
  height: 55px;
}

.tool-1 {
  background: url(../img/pickaxe.png) no-repeat center center/cover;
  left: 11px;
}
.tool-1:hover {
  background: url(../img/pickaxe.png) no-repeat center center/cover, #ffffa07a;
}
.tool-2 {
  background: url(../img/axe.png) no-repeat center center/cover;
  left: 86px;
}
.tool-2:hover {
  background: url(../img/axe.png) no-repeat center center/cover, #ffffa07a;
}
.tool-3 {
  background: url(../img/shovel.png) no-repeat center center/cover;
  left: 160px;
}
.tool-3:hover {
  background: url(../img/shovel.png) no-repeat center center/cover, #ffffa07a;
}

/* Game Window */
.gamewindow {
  width: 100%;
  height: 100vh;
  background: #4c566a;
  text-align: center;
}
.world {
  max-width: 100vh;
  height: 100vh;
  margin: 0 auto;
  background: whitesmoke;
  display: grid;
  grid-template-columns: repeat(40, minmax(10px, 1fr));
  grid-template-rows: repeat(40, minmax(10px, 1fr));
}
.world::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.world > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.block {
  width: 100%;
  height: 100%;
}
.block:hover {
  border: 0.1px solid rgba(255, 255, 255, 0.5);
}

.block[data-block-type="sky"] {
  background: #3e82cc;
}
.block[data-block-type="cobblestone"] {
  background: url(../img/blocks/cobblestone.png) no-repeat center/cover;
}
.block[data-block-type="tree"] {
  background: url(../img/blocks/tree.jpg) no-repeat center/cover;
}
.block[data-block-type="leaves"] {
  background: url(../img/blocks/leaves.png) no-repeat center/cover;
}
.block[data-block-type="grass"] {
  background: url(../img/blocks/grass.png) no-repeat center/cover;
}
.block[data-block-type="dirt"] {
  background: url(../img/blocks/dirt.jpg) no-repeat center/cover;
}
