*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Minecraftia", sans-serif;
  overflow: hidden;
}

img {
  object-fit: contain;
  width: 100%;
}
.blur {
  filter: blur(5px);
}

#start-menu {
  width: 100%;
  height: 100vh;
  background: url(../img/background.jpg) no-repeat center center/cover;
  position: relative;
}

.start--logo {
  background: url(../img/logov2.png) no-repeat center center/contain;
  width: 100%;
  max-width: 80vw;
  height: 30vh;
  margin: 0 auto;
  padding-top: 0;
  position: relative;
}
.start--logo::after {
  content: "Made by Yaniv Bahalker";
  color: white;
  position: absolute;
  bottom: 0;
  left: 50px;
}
.start__buttons {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.menu--btn {
  margin: 0 auto 30px auto;
  height: 36px;
  width: 400px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  background: #999 url("../img/btnbackground.png") center / cover;
  image-rendering: pixelated;
  border: 2px solid #000;
  text-align: center;
}
.game--btn {
  margin: 2px 2px 0 2px;
  height: 36px;
  width: 191px;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
  user-select: none;
  background: #999 url("../img/btnbackground.png") center / cover;
  image-rendering: pixelated;
  border: 2px solid #000;
  text-align: center;
  display: inline-block;
}

.menu--btn a,
.game--btn a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
  padding-bottom: 0.3em;
  color: #ddd;
  text-shadow: 2px 2px #000a;
  box-shadow: inset -2px -4px #0006, inset 2px 2px #fff7;
}
.menu--btn:hover a,
.game--btn:hover a {
  background-color: rgba(100, 100, 255, 0.45);
  text-shadow: 2px 2px #202013cc;
  color: #ffffa0;
}

.menu--btn:active,
.game--btn:active {
  box-shadow: inset -2px -4px #0004, inset 2px 2px #fff5;
  transform: translateY(1px);
}

.tutorial {
  position: absolute;
  max-width: 1000px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  gap: 5px;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.6),
      rgba(255, 255, 255, 0.1)
    ),
    url("../img/tutorial.png");
  filter: drop-shadow(0px 0px 200px black) blur(0px);
  display: none;
  grid-template-columns: 7fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 55px 20px 55px 20px 55px 20px 55px 20px 55px 20px;
  padding: 2rem 1rem 1rem 1rem;
  border-radius: 10%;
  z-index: 99;
  text-shadow: 1px 1px 1px white;
}
.box {
  width: 45px;
  height: 45px;
  border-radius: 30%;
  margin: 0 auto;
}
.box1 {
  background: url(../img/pickaxe.png) no-repeat center center/cover;
}
.box2 {
  background: url(../img/axe.png) no-repeat center center/cover;
}
.box3 {
  background: url(../img/shovel.png) no-repeat center center/cover;
}
.box4 {
  background: url(../img/bucket.png) no-repeat center center/cover;
}
.second {
  grid-row: 4/4;
}
.tutorial-pickaxe1 {
  background: url(../img/blocks/cobblestone.png) no-repeat center center/cover;
  grid-row: 3/3;
  grid-column: 2/2;
}
.tutorial-axe1 {
  background: url(../img/blocks/tree.jpg) no-repeat center center/cover;
  grid-row: 3/3;
  grid-column: 3/3;
}
.tutorial-shovel1 {
  background: url(../img/blocks/grass.png) no-repeat center center/cover;
  grid-row: 3/3;
  grid-column: 4/4;
}
.tutorial-bucket1 {
  background: url(../img/blocks/lava.jpg) no-repeat center center/cover;
  grid-row: 3/3;
  grid-column: 5/5;
}
.tutorial-pickaxe2 {
  background: url(../img/blocks/coal.png) no-repeat center center/cover;
  grid-column: 2/2;
  grid-row: 5/5;
}
.tutorial-axe2 {
  background: url(../img/blocks/leaves.png) no-repeat center center/cover;
  grid-row: 5/5;
  grid-column: 3/3;
}
.tutorial-shovel2 {
  background: url(../img/blocks/dirt.jpg) no-repeat center center/cover;
  grid-row: 5/5;
  grid-column: 4/4;
}
.tutorial-pickaxe3 {
  background: url(../img/blocks/diamond.png) no-repeat center center/cover;
  grid-row: 7/7;
  grid-column: 2/2;
}
.tutorial-pickaxe4 {
  background: url(../img/blocks/blackstone.png) no-repeat center center/cover;
  grid-column: 2/2;
  grid-row: 9/9;
}
.close-tutorial {
  grid-column: 5/5;
  grid-row: 9/9;
  color: white;
  text-shadow: none;
}
.close-tutorial.game--btn {
  width: 98px;
}

.toolbar {
  position: relative;
  height: 387px;
  width: 127px;
  background: url(../img/toolbarbig.png) no-repeat center center/cover;
  margin: 0 auto;
}

.item {
  cursor: grab;
  position: absolute;
  top: 8px;
  width: 48px;
  height: 48px;
}
.blockitem {
  width: 43px;
  height: 43px;
}

.tool-1 {
  left: 9px;
}
.tool-2 {
  left: 72px;
}
.tool-3 {
  top: 73px;
  left: 9px;
}
.tool-4 {
  top: 73px;
  left: 72px;
}
.tool-4:hover {
  background: #ffffa07a;
}
.tool-1:hover,
.tool-2:hover,
.tool-3:hover,
.tool-4:hover {
  background: #ffffa07a;
}
.tool-1::after,
.tool-2::after,
.tool-3::after,
.tool-4::after {
  content: "";
  position: absolute;
  left: 0;
  width: 43px;
  height: 43px;
}
.tool-1::after {
  background: url(../img/pickaxe.png) no-repeat center center/cover;
}
.tool-2::after {
  background: url(../img/axe.png) no-repeat center center/cover;
}
.tool-3::after {
  background: url(../img/shovel.png) no-repeat center center/cover;
}
.tool-4::after {
  background: url(../img/bucket.png) no-repeat center center/cover;
}
.current {
  box-shadow: 0px 0px 8px 2px red;
}
.toolbar div:nth-child(5) {
  top: 140px;
  left: 12px;
}
.toolbar div:nth-child(6) {
  top: 140px;
  left: 73px;
}
.toolbar div:nth-child(7) {
  top: 206px;
  left: 12px;
}
.toolbar div:nth-child(8) {
  top: 206px;
  left: 73px;
}
.toolbar div:nth-child(9) {
  top: 270px;
  left: 12px;
}
.toolbar div:nth-child(10) {
  top: 270px;
  left: 73px;
}
.toolbar div:nth-child(11) {
  top: 334px;
  left: 12px;
}
.toolbar div:nth-child(12) {
  top: 334px;
  left: 73px;
}
.inventoryCount {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  text-shadow: 1px 0px 3px black;
  font-size: 14px;
}

/* Game Window */
.gamewindow {
  max-width: 100vw;
  height: 100vh;
  background: #4c566a;
  text-align: center;
  display: none;
  grid-template-columns: 8fr 1fr;
  padding: 2rem 3rem 2rem 3rem;
}
.world-container {
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
}
.world {
  width: 50vw;
  height: 50vw;
  display: grid;
  grid-template-columns: repeat(40, minmax(10px, 1fr));
  grid-template-rows: repeat(40, minmax(10px, 1fr));
}
.world::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}
.world > div::before {
  content: "";
  padding-bottom: 100%;
  display: block;
}
.world > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.block {
  width: 100%;
  height: 100%;
}
.block:hover {
  border: 0.1px solid rgba(255, 255, 255, 0.5);
}

.block[data-block-type="sky"] {
  background: #3e82cc;
}
.block[data-block-type="cobblestone"],
.item[data-inventory="cobblestone"] {
  background: url(../img/blocks/cobblestone.png) no-repeat center/cover;
}
.block[data-block-type="tree"],
.item[data-inventory="tree"] {
  background: url(../img/blocks/tree.jpg) no-repeat center/cover;
}
.block[data-block-type="leaves"],
.item[data-inventory="leaves"] {
  background: url(../img/blocks/leaves.png) no-repeat center/cover;
}
.block[data-block-type="grass"],
.item[data-inventory="grass"] {
  background: url(../img/blocks/grass.png) no-repeat center/cover;
}
.block[data-block-type="dirt"],
.item[data-inventory="dirt"] {
  background: url(../img/blocks/dirt.jpg) no-repeat center/cover;
}
.block[data-block-type="lava"] {
  background: url(../img/blocks/lava.jpg) no-repeat center/cover;
}
.block[data-block-type="diamond"],
.item[data-inventory="diamond"] {
  background: url(../img/blocks/diamond.png) no-repeat center/cover;
}
.block[data-block-type="blackstone"],
.item[data-inventory="blackstone"] {
  background: url(../img/blocks/blackstone.png) no-repeat center/cover;
}
.block[data-block-type="coal"],
.item[data-inventory="coal"] {
  background: url(../img/blocks/coal.png) no-repeat center/cover;
}
.block[data-block-type="cloud"],
.item[data-inventory="cloud"] {
  background: whitesmoke;
}

.puff-out-center {
  -webkit-animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
  animation: puff-out-center 1s cubic-bezier(0.165, 0.84, 0.44, 1) both;
}
@keyframes puff-out-center {
  0% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
  5% {
    -webkit-filter: blur(4px);
    filter: blur(4px);
  }
  100% {
    -webkit-filter: blur(0px);
    filter: blur(0px);
  }
}
